# PATHS
PATH_WORKBOOKS = ".\\workbooks"

# EMAILS
ERROR_EMAIL = "user@email.com"

# MARIADB CONFIG
MARIADB_HOST = "localhost"
MARIADB_PORT = 3306
MARIADB_USER = "user"
MARIADB_PASSWORD = "password"
MARIADB_DATABASE = "database"